* {
    box-sizing: border-box;
}

body {
    background-image: url("Webpage\ Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;
}

a:link {
    color: greenyellow;
}

a:visited {
    color: aqua;
}

.topnavbar {
    text-align: center;
    color: white;
    background-color: #333;
    padding: 10px;
    font-style: italic;
}

.topnavbar h1 {
    font-size: 50px;
    font-family: 'Lucida Handwriting', cursive;
    font-weight: 75;
}

.navbar {
    background-color: #333;
    position: sticky;
    top: 0;
    padding: 10px;
    padding-bottom: 50px;
    z-index: 2;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

form fieldset {
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background: #333;
    padding: 20px;
    width: 100%;
    bottom: 0;
}

.footer ul li {
    display: inline-block;
}

.footer h4 {
    margin-left: 55px;
}


.copyright {
    float: right;
    padding-right: 10%;
    font-size: smaller;
}

.jtt {
    text-align: center;
    float: right;
    width: 50%;
    color: #ddd;
}

.footercontent {
    max-width: 1300px;
    margin: auto;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

th {
    height: 40px;
    width: 100px;
    padding: 10px;
}

td {
    padding: 10px;
    font-size: smaller;
}

#sd {
    background-color: #333333a1;
    height: 600px;
}

#sd img {
    float: right;
}

#sd h2 {
    font-size: 60px;
    font-weight: bolder;
    padding-top: 150px;
    margin-left: 30px;
}

#sd p {
    font-size: 20px;
    margin-left: 30px;
}

#sdcontent {
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
}

#mv h2 {
    text-align: center;
    font-size: 55px;
    font-weight: bolder;
}

#mv {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 300px;
}

.flip-box {
    background-color: none;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    float: left;
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;

}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: none;
    color: white;
    font-size: 30px;
    margin: auto;
}

.flip-box-back {
    background-color: #333333a1;
    color: white;
    transform: rotateY(180deg);
    padding: 10px;
    font-size: 17px;
}

#pm {
    text-align: center;
    background-color: #333333a1;
    height: 350px;
}

#pm h2 {
    padding-top: 10px;
    font-size: 40px;
}

#pm p {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#pmcontent {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

#pmspan {
    font-style: italic;
    font-weight: 500;
}

.row {
    max-width: 1300px;
    margin: auto;
}

.row,
.row>.column {
    padding: 10px;
}

.row .column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row .content {
    background-color: #333333a1;
    padding: 30px;
}

.row .content h3 {
    font-size: 30px;
}

.row .content p {
    font-size: 20px;
}

#hobbysketching {
    background-color: #333333a1;
    text-align: center;
    padding: 10px;
}

#hscontent {
    max-width: 1150px;
    margin: auto;
}

#hobbysketching h2 {
    font-size: 40px;
}

#hobbysketching p {
    font-size: 20px;
}

#artshowcase {
    font-size: 30px;
    text-align: center;
    max-width: 1300px;
    margin: auto;
}

#sketchvid {
    background-color: #333333a1;
    text-align: center;
    padding: 10px;
}

#svcontent {
    max-width: 1300px;
    margin: auto;
}

.accordinlist {
    text-align: center;
    padding: 50px;
    background-color: none;
}

.accordion {
    background-color: #333333a1;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    max-width: 1300px;
}

.active,
.accordion:hover {
    background-color: red;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: #333333a1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center;
}

.panelcontent {
    max-width: 1300px;
    margin: auto;
}

#edu {
    background-color: #333333a1;
    height: 415px;
}

#edu img {
    float: right;
}

#edu h2 {
    font-size: 60px;
    font-weight: bolder;
    padding-top: 100px;
    margin-left: 30px;
}

#edu h3 {
    font-weight: bolder;
    margin-left: 30px;
}

#edu p {
    font-size: 20px;
    margin-left: 30px;
}

#educontent {
    max-width: 1246px;
    margin: auto;
    overflow: hidden;
}

#nypmap {
    background-color: #333333a1;
    height: 500px;
}

#nypmap iframe {
    float: left;
}

#nmcontent {
    max-width: 1246px;
    margin: auto;
    overflow: hidden;
}

#nmcontent h2 {
    font-size: 30px;
    font-weight: bolder;
    padding-left: 653px;
    padding-top: 10px;
}

#nmcontent h3 {
    font-weight: bolder;
    margin-left: 653px;
}

#businfo {
    margin-left: 653px;
}

#sado {
    text-align: left;
    max-width: 1100px;
    margin: auto;
}

#sado list li {
    padding: 3px;
}

#sado p {
    text-align: center;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

#sado1 {
    float: left;
    margin-left: 120px;
}

#sado2 {
    margin-left: 570px;
}

.edurow {
    max-width: 1300px;
    margin: auto;
}

.edurow,
.edurow>.educolumn {
    padding: 10px;
}

.edurow .educolumn {
    float: left;
    width: 25%;
}

.edurow:after {
    content: "";
    display: table;
    clear: both;
}

.edurow .educontent {
    padding: 20px;
}

.edurow .educontent h3 {
    font-size: 30px;
}

.edurow .educontent p {
    font-size: 15px;
}

#tabv {
    text-align: left;
    max-width: 1100px;
    margin: auto;
}

#tabv list li {
    padding: 3px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#tabv1 {
    float: left;
    margin-left: 170px;
}

#tabv2 {
    margin-left: 590px;
}

#tabv h3 {
    text-align: center;
    padding: 0;
    margin: 0;
}

#bdw {
    max-width: 1300px;
    margin: auto;
    padding: 20px;
}

#bdwi {
    max-width: 1256px;
    background-color: #333333a1;
    height: 848.125px;
}

#bdw img {
    float: left;
    padding: 20px;
}

#bdw h2 {
    padding-top: 20px;
    font-size: 30px;
}

#bdw h3 {
    font-size: 25px;
}

#bdw p {
    font-size: 20px;

}

#bdwcontent {
    margin-left: 600px;
    overflow: hidden;
}

#ccatop {
    background-color: #333333a1;
    height: 500px;
}

#ccatopcontent img {
    float: right;
    margin-right: 105px;
    margin-left: 105px;
    margin-top: 40px;
}

#ccatopcontent h2 {
    font-size: 60px;
    font-weight: bolder;
    padding-top: 50px;
    margin-left: 30px;
}

#ccatopcontent h3 {
    font-size: 30px;
    margin-left: 30px;
}

#ccatopcontent p {
    font-size: 20px;
    margin-left: 30px;
}

#ccatopcontent {
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
}

#topgallery {
    font-size: 25px;
    text-align: center;
}

.galleryrow,
.container {
    max-width: 1246px;
    margin: auto;
}

.gallerycolumn {
    float: left;
    width: 25%;
    padding: 10px;
}

.gallerycolumn img {
    opacity: 0.8;
    cursor: pointer;
}

.gallerycolumn img:hover {
    opacity: 1;
}

.galleryrow:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
    display: none;
    text-align: center;
}

#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

#ccabottom {
    background-color: #333333a1;
}

#ccabottomcontent {
    padding: 20px;
    text-align: center;
    max-width: 1300px;
    margin: auto;
}

.ccarow {
    max-width: 1300px;
    margin: auto;
}

.ccarow,
.ccarow>.ccacolumn {
    padding: 10px;
}

.ccarow .ccacolumn {
    float: left;
    width: 33.33%;
}

.ccarow:after {
    content: "";
    display: table;
    clear: both;
}

.ccacontent h3 {
    font-size: 1.5em;
}

.ccacontent p {
    font-size: 20px;
}

#formcontent {
    background-color: #333333a1;
    max-width: 700px;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 15px;
    resize: none;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 70px;
}

input[type=submit]:hover {
    background-color: red;
}

#formresults {
    background-color: #333333a1;
    max-width: 700px;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#formresults h1 {
    font-size: 2.5em;
}

#formresults p {
    font-size: 20px;
}

#returnbtn {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#returnbtn:hover {
    background-color: red;
}

#formresults span {
    color: aqua;
}

#hobbymelomaniac {
    background-color: #333333a1;
    text-align: center;
    padding: 10px;
}

#hmcontent {
    max-width: 1150px;
    margin: auto;
}

#hobbymelomaniac h2 {
    font-size: 40px;
}

#hobbymelomaniac p {
    font-size: 20px;
}

#melomaniaccontent {
    max-width: 1300px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: larger;
}

#favsinger {
    max-width: 1300px;
    margin: auto;
    padding: 20px;
}

#favsingeri {
    max-width: 1256px;
    background-color: #333333a1;
    height: 621px;
}

#favsinger img {
    float: left;
    padding: 20px;
}

#favsinger h2 {
    margin-top: 120px;
    padding-top: 20px;
    font-size: 80px;
}

#favsinger h3 {
    font-size: 25px;
}

#favsinger p {
    font-size: 20px;

}

#favsingercontent {
    margin-left: 600px;
    overflow: hidden;
}

#toprated {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#ctw {
    font-size: 15px;
    text-align: center;
}

.melrow {
    max-width: 1300px;
    margin: auto;
}

.melrow,
.melrow>.melcolumn {
    padding: 10px;
}

.melrow .melcolumn {
    float: left;
    width: 33.33%;
}

.melrow:after {
    content: "";
    display: table;
    clear: both;
}

.melrow .melcontent {
    background-color: #333333a1;
    padding: 20px;
}

.melrow .melcontent h3 {
    text-align: center;
}

.melrow .melcontent p {
    font-size: 20px;
    text-align: center;
}

#t1 {
    font-size: 35px;
}

#t2 {
    font-size: 35px;
}

#t3 {
    font-size: 35px;
}

#t4 {
    font-size: 25px;
}

#t5 {
    font-size: 25px;
}

#t6 {
    font-size: 25px;
}

.melimg {
    position: relative;
}

.melimg:hover .meloverlay {
    opacity: 0.8;
    cursor: pointer;
    
}

.melimg:hover {
    transform: scale(1.05);
    transition: .5s ease;
}

.meloverlay p {
    color: white;
    margin-top: 80px;
    font-size: 20px;   
}

#songquiz {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    font-size: larger;
}

#quizpanel {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #333333a1;
    padding: 30px;
    margin-bottom: 30px;
}

.choices li {
    margin-bottom: 5px;
    font-size: 20px;
}

.quiz,
.choices {
    list-style-type: none;
}

input[type="radio"] {
    cursor: pointer;
}

.quiz {
    margin-left: 285px;
}

.quiz h4 {
    font-size: 30px;
}

#quizrules {
    font-size: larger;
}

.viewscore {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.viewscore:hover {
    background-color: red;
}

#scores {
    text-align: center;
    margin-top: 60px;
    font-size: larger;
}

#myscore {
    font-size: larger;
}